.person-details {
    display: flex;
    margin-top: 0;
    flex-direction: row;
    padding: 1rem;
  }
  
  .person-details.card {

  }

  .person-image {
    padding: 10px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  
  .person-details .list-group-item {
    padding: .25rem;
  }
  
  .person-details .list-group-item .term{
    margin-right: .5rem;
  }